.grid-container {
  display: grid;
  grid-template-columns: 254px 1fr 1fr 1fr;
  grid-template-rows: 0fr 3fr;
  grid-template-areas:
    "header header header header"
    "sidebar main main main";
  height: 100%;


  overflow-x: hidden;
}

/* Header  */
.header {
  grid-area: header;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 10px 10px 24px 10px; */

  padding: 0 30px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.87);

  background: #FFF;

  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.06);

}

.header-right,
.header-right-profile,
.header-right-profile-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}