* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 254px 1fr 1fr 1fr;
  grid-template-rows: 0fr 3fr;
  grid-template-areas:
    "header header header header"
    "sidebar main main main";
  height: 100%;
  /* overflow-x: hidden; */
}

/* Header  */
.header {
  grid-area: header;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 10px 10px 24px 10px; */

  padding: 0 30px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.87);

  background: #fff;

  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.06);
}

.header-right,
.header-right-profile,
.header-right-profile-desc {
  display: flex;

  align-items: center;
}

.header-right {
  gap: 24px;
}

.header-right-profile {
  gap: 6px;
}

.header-right-profile-desc h4 {
  color: #192351;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-right: 6px;
  line-height: 24px;
  /* 171.429% */
}

.create-event-btn {
  display: inline-flex;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 100px;
  background: rgba(155, 101, 228, 0.16);
  border: none;
  color: #9b65e4;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 171.429% */
  cursor: pointer;
}

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  border-radius: 15px;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  padding-top: 24px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 4px 6px 60px 0px rgba(0, 0, 0, 0.07);
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* margin-bottom: 30px; */
}

.sidebar-title>span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  /* padding: 20px 20px 20px 20px;
  font-size: 18px; */
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 16px;
  border-radius: 8px;

  margin-bottom: 10px;
  color: #757575;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.sidebar-list-item-active {
  background: #9b65e4;
  position: relative;
}

.sidebar-list-item.sidebar-list-item-active {
  color: #fff;
}

.sidebar-list-item-active svg path {
  stroke: rgba(255, 255, 255, 1);
}

/* .sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
} */

.sidebar-list-item>a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-responsive {
  /* display: inline-block !important; */
  position: fixed !important;

  border-radius: 0 !important;
  left: 0 !important;

  /* transition: all 1s ease-in-out; */
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 99999999999999999999999 !important;
  width: 320px;
}

.mt-112 {
  margin-top: 112px;
}

.main-container {
  grid-area: main;
  /* overflow-y: hidden; */
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;

  /* padding-top: 24px; */
  /* padding-left: 30px; */
}

/* Eventos */
.eventos {
  margin: 30px;
}

.eventos-header {
  background-image: url("./assets/images/eventos-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 16px;
  padding: 40px 37px;
}

.eventos-header h4 {
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.eventos-header p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 470px;
  margin-top: 10px;
}

.search-box {
  position: relative;
}

.search {
  width: 341px;
  padding: 14px;
  padding-left: 38px;

  border-radius: 100px;
  border: 1px solid #ddd;
  background: rgba(155, 101, 228, 0.1);
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}

::placeholder {
  color: #666;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.eventos-container {
  padding: 20px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 10px 12px 60px 0px rgba(0, 0, 0, 0.08);
  margin-top: 30px;
}

.eventos-container h4 {
  color: #180e2c;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.eventos-container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.flex {
  display: flex;

  align-items: center;
  gap: 12px;
}

.myselect {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #ddd;
}

.myselect option {
  width: 126px;
}

.myselect option {
  display: flex;
  flex-direction: column;
}

.myselect option span {
  display: block;
}

.create-evento-btn {
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 100px;
  background: #C90000;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 171.429% */
  border: none;
  cursor: pointer;
}

.eventos-table table {
  width: 100%;
}

table {
  border-spacing: 0px;
}

.eventos-table table thead {

  border-radius: 5px;
  background: rgba(87, 118, 242, 0.08);
}

.eventos-table table th,
td {
  padding: 15px 21px !important;

}

.eventos-table table th {

  text-align: left;
  color: #666;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.eventos-table table td h6 {
  color: #1B212D;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.eventos-table table td p {
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.eventos-table table td .location {
  color: #444;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.eventos-table .vendiadas {
  color: #757575;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.eventos-table .vendiadas hr {
  width: 92px;
}

.eventos-table .neto {
  color: #1B212D;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.eventos-table .date {
  color: #1B212D;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.eventos-table .time {
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.eventos-table .estado-inactive {
  color: #E41616;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.eventos-table .estado-active {
  color: #4AAD31;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.eventos-table table td:last-child {
  text-align: right;
}

.estado-inactive-bg {
  border-radius: 5px;
  background: rgba(87, 118, 242, 0.08);
}

tr:first-child th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

tr:first-child th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.estado-inactive-bg td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.estado-inactive-bg td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.pagination-button-group {
  display: flex;
  align-items: center;
  gap: 23px;
}

.active-page {
  display: flex;
  padding: 7px 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  border-radius: 100px;
  background: #9B65E4;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
  border: none;
  cursor: pointer;
}

.page-btn {
  color: #949CA9;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
  border: none;
  background: none;
  cursor: pointer;
}

/* Create Event */

.create-event {
  margin: 30px;
}

.create-event>p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #180E2C;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.create-event-container {
  border-radius: 16px;
  background: #FFF;
  box-shadow: 10px 12px 60px 0px rgba(0, 0, 0, 0.08);
  padding: 30px 40px;
}

.create-event-container>h4 {
  color: #180E2C;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.create-event-container .from-group label {
  margin-bottom: 8px;
}

.create-event-container .from-group {
  margin-bottom: 16px;


}

.create-event-container input {
  width: 100%;
  padding: 15px 12px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;

  outline: none !important;
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.create-event-container ::placeholder {
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.custom-select {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  appearance: none;
  /* Hides default arrow */
  -webkit-appearance: none;
  /* For older versions of Chrome/Safari */
  -moz-appearance: none;
  /* For older versions of Firefox */

  /* Adding custom arrow */
  background-image: url('./assets/images/downarrow.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;

  /* Adjust padding for the arrow */
  outline: none;
}

.custom-select {
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}