* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

body {
  background: #f9fafe;

}

.row {
  --bs-gutter-x: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: 254px 1fr 1fr 1fr;
  grid-template-rows: 0fr 3fr;
  grid-template-areas:
    "header header header header"
    "sidebar main main main";
  height: 100%;
  /* overflow-x: hidden; */
  margin-bottom: 30px;
}

.thm-btn {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 171.429% */
  border-radius: 100px;
  background: #9b65e4;
  border: none;
}

/* Header  */
.header {
  grid-area: header;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 10px 10px 24px 10px; */

  padding: 0 30px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.87);

  background: #fff;

  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.06);
}

.header-right,
.header-right-profile,
.header-right-profile-desc {
  display: flex;

  align-items: center;
}

.header-right {
  gap: 24px;
}

.header-right-profile {
  gap: 6px;
}

.header-right-profile-desc h4 {
  color: #192351;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-right: 6px;
  line-height: 24px;
  /* 171.429% */
}

.create-event-btn {
  display: inline-flex;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 100px;
  background: rgba(155, 101, 228, 0.16);
  border: none;
  color: #9b65e4;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 171.429% */
  cursor: pointer;
}

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: calc(100% - 30px);
  border-radius: 15px;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  padding-top: 24px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  margin-left: 30px;
  /* margin-bottom: 30px !important; */
  border-radius: 16px;
  background: #fff;
  box-shadow: 4px 6px 60px 0px rgba(0, 0, 0, 0.07);
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* margin-bottom: 30px; */
}

.sidebar-title>span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  /* padding: 20px 20px 20px 20px;
  font-size: 18px; */
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 16px;
  border-radius: 8px;

  margin-bottom: 10px;
  color: #757575;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.sidebar-list-item-active {
  background: #9b65e4;
  position: relative;
}

.sidebar-list-item.sidebar-list-item-active {
  color: #fff;
}

.sidebar-list-item-active svg path {
  stroke: rgba(255, 255, 255, 1);
}

/* .sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
} */

.sidebar-list-item>a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-responsive {
  /* display: inline-block !important; */
  position: fixed !important;

  border-radius: 0 !important;
  left: 0 !important;

  /* transition: all 1s ease-in-out; */
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 99999999999999999999999 !important;
  width: 320px;
}

.mt-112 {
  margin-top: 112px;
}

.main-container {
  grid-area: main;
  /* overflow-y: hidden; */
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;
}

/* Eventos */
.eventos {
  margin: 30px 30px 0 30px;
}

.eventos-header {
  background-image: url("./assets/images/eventos-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 16px;
  padding: 40px 37px;
}

.eventos-header h4 {
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.eventos-header p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 470px;
  margin-top: 10px;
}

.search-box {
  position: relative;
}

.search {
  width: 341px;
  padding: 14px;
  padding-left: 38px;

  border-radius: 100px;
  border: 1px solid #ddd;
  background: rgba(155, 101, 228, 0.1);
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}

::placeholder {
  color: #666;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.eventos-container {
  padding: 20px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 10px 12px 60px 0px rgba(0, 0, 0, 0.08);
  margin-top: 30px;
}

.eventos-container h4 {
  color: #180e2c;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.eventos-container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.flex {
  display: flex;

  align-items: center;
  gap: 12px;
}

.myselect {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #ddd;
}

.myselect option {
  width: 126px;
}

.myselect option {
  display: flex;
  flex-direction: column;
}

.myselect option span {
  display: block;
}

.create-evento-btn {
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 100px;
  background: #c90000;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 171.429% */
  border: none;
  cursor: pointer;
}

.eventos-table table {
  width: 100%;
}

table {
  border-spacing: 0px;
}

.eventos-table table thead {
  border-radius: 5px;
  background: rgba(87, 118, 242, 0.08);
}

.eventos-table table th,
td {
  padding: 15px 21px !important;
}

.eventos-table table th {
  text-align: left;
  color: #666;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.eventos-table table td h6 {
  color: #1b212d;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.eventos-table table td p {
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.eventos-table table td .location {
  color: #444;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.eventos-table .vendiadas {
  color: #757575;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.eventos-table .vendiadas hr {
  width: 92px;
}

.eventos-table .neto {
  color: #1b212d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.eventos-table .date {
  color: #1b212d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.eventos-table .time {
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.eventos-table .estado-inactive {
  color: #e41616;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.eventos-table .estado-active {
  color: #4aad31;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.eventos-table table td:last-child {
  text-align: right;
}

.estado-inactive-bg {
  border-radius: 5px;
  background: rgba(87, 118, 242, 0.08);
}

tr:first-child th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

tr:first-child th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.estado-inactive-bg td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.estado-inactive-bg td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.pagination-button-group {
  display: flex;
  align-items: center;
  gap: 23px;
}

.active-page {
  display: flex;
  padding: 7px 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  border-radius: 100px;
  background: #9b65e4;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
  border: none;
  cursor: pointer;
}

.page-btn {
  color: #949ca9;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
  border: none;
  background: none;
  cursor: pointer;
}

/* Create Event */

.create-event {
  margin: 30px 30px 0 30px;
}

.create-event>p,
.editar-ticket>P {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #180e2c;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.create-event-container {
  border-radius: 16px;
  background: #fff;
  box-shadow: 10px 12px 60px 0px rgba(0, 0, 0, 0.08);
  /* padding: 30px 40px; */
  margin-top: 30px;
}

.create-event-container>h4 {
  color: #180e2c;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-left: 40px;
}

.create-event-container form {
  padding-left: 40px;
  padding-right: 40px;
}

.create-event-container .form-group label {
  margin-bottom: 8px;
  color: #1b212d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.create-event-container .form-group {
  margin-bottom: 16px;
}

.create-event-container .text-input,
.date-picker,
.date-picker-O {
  width: 100%;
  padding: 15px 12px;
  border-radius: 6px;
  border: 1px solid #eaeaea;

  outline: none !important;
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.create-event-container label .span {
  color: #9b65e4;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.create-event-container textarea {
  height: 201px;
}

.create-event-container ::placeholder {
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.custom-select {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  appearance: none;
  /* Hides default arrow */
  -webkit-appearance: none;
  /* For older versions of Chrome/Safari */
  -moz-appearance: none;
  /* For older versions of Firefox */

  /* Adding custom arrow */
  background-image: url("./assets/images/downarrow.svg");
  background-position: right 13px center;
  background-repeat: no-repeat;

  /* Adjust padding for the arrow */
  outline: none;
}

.custom-select {
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.react-datepicker-wrapper {
  width: 100%;
}

.date-picker {
  width: 100%;
  background-image: url("./assets/images/date-picker.svg");
  background-position: right 13px center;
  background-repeat: no-repeat;
}

.date-picker-O {
  width: 100%;
  background-image: url("./assets/images/date.svg");
  background-position: right 13px center;
  background-repeat: no-repeat;
}

.radio-btn-group input,
.radio-btn-group label {
  margin-right: 9px;
}

.radio-btn-group {
  margin-bottom: 35px;
}

input[type="radio"]:checked {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14px;
  height: 14px;
  background-color: #4aad31;
  border-radius: 50%;

  background-image: url("./assets/images/fi_656971.png");
  /* Image for unchecked state */
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.upload-photo {
  height: 201px;
  border-radius: 6px;
  border: 1px dashed #9b65e4;
  background: rgba(155, 101, 228, 0.1);
  padding: 58px 0;
  text-align: center;
}

.upload-photo h5 {
  color: #0c0025;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
}

.upload-photo p {
  color: #666;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 11.907px;
  margin-bottom: 14px;
  /* 99.227% */
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  color: #fff !important;
  font-family: Poppins;
  font-size: 10px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal;
  text-transform: capitalize;

  background-color: #9b65e4;
  padding: 10px 14px;
  border-radius: 39.691px;
  border: none;
}

.custom-file-upload svg {
  margin-right: 5px;
}

.custom-file-upload input[type="file"] {
  display: none;
}

/* Style the span/text within the label */
.custom-file-upload span {
  display: inline-block;
}

.line-1 {
  background: #eaeaea;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 22px;

  width: 100%;
}

.line-2 {
  background: #eaeaea;
  height: 1px;
  margin-left: 20px;
}

.create-event-container-btn-group {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  padding-bottom: 30px;
  gap: 24px;
}

.create-event-container-btn-group>button {
  display: flex;
  width: 213px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 100px;
  background: #efe6fb;

  border: none;
  color: #9b65e4;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 171.429% */
}

.create-event-container-btn-group>button:hover {
  color: #fff;
  background: #9b65e4;
}

/* single Evento */
.single-evento {
  margin: 30px 30px 0 30px;
}

.single-evento>p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #180e2c;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.single-evento-contaner {
  padding: 20px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 10px 12px 60px 0px rgba(0, 0, 0, 0.02);
  margin-top: 30px;
}

.single-evento-card {
  padding: 20px;
  border-radius: 12px;
  background: #f2f4fe;
  display: flex;
  align-items: center;
  gap: 40px;
}

.single-evento-card .single-card-title {
  color: #1b212d;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.single-evento-card .single-card-desc {
  color: #757575;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.single-evento-card .single-card-location {
  color: #444;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.single-card-content {
  width: 100%;
}

.single-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-card-header .thm-btn {
  padding: 10px 30px;
}

.single-card-footer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.single-card-footer p {
  color: #666;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.single-card-footer p span {
  color: #1b212d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.entradas-container {
  padding: 20px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 10px 12px 60px 0px rgba(0, 0, 0, 0.02);
  margin-top: 20px;
}

.entradas-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.entradas-container-header .thm-btn {
  padding: 10px 27px;
}

.editar-btn {
  padding: 5px 19px 6px 19px;
  border-radius: 1000px;
  background: rgba(74, 173, 49, 0.18);
  color: #4aad31;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  margin-right: 10px;
}

.borrar-btn {
  padding: 6px 19px 5px 17px;
  border-radius: 1000px;
  background: rgba(255, 0, 0, 0.1);
  color: #f00;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.entradas-container-table .eventos-table table td:last-child {
  text-align: left;
}

.aforo-btn {
  width: 191px;
  padding: 10px 30px;

  gap: 6px;
  border-radius: 5px;
  background: rgba(155, 101, 228, 0.13);
  color: var(--01, #180e2c);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  margin-right: 14px;
  margin-left: 20px;
}

.aforo-btn span {
  color: #9b65e4;
}

.cantidad-btn {
  padding: 10px 30px;

  gap: 6px;
  border-radius: 5px;
  background: rgba(155, 101, 228, 0.13);
  color: var(--01, #180e2c);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.cantidad-btn span {
  color: #9b65e4;
}

.publicar-evento-container {
  margin-top: 30px;
  padding: 30px 0px 30px 40px;
  border-radius: 16px;
  background: #F2F4FE;


}

.publicar-evento-container h4 {
  color: #180E2C;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.publicar-evento-form label {
  color: #1B212D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.publicar-evento-form label .span {
  color: #9B65E4;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.publicar-evento-form input {
  width: 100%;
  margin-top: 16px;
  padding: 15px 12px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: rgba(217, 217, 217, 0.50);
  margin-bottom: 16px;
}

.publicar-evento-form ::placeholder {
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.publicar-evento-form .thm-btn {
  padding: 10px 30px;
}

.publicar-evento-form p {
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.eliminar-evento-container {
  padding: 30px 40px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.03);
  margin-top: 30px;
}

.eliminar-evento-container h4 {
  color: #180E2C;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.eliminar-evento-container p {
  color: #1B212D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
}

.eliminar-evento-container .form-group input {
  width: 92%;
  margin-right: 24px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  padding: 15px 12px;
}

.eliminar-evento-container ::placeholder {
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Editar Ticket */
.editar-ticket {
  margin: 30px 30px 0 30px;
}

.editar-ticket-container {
  padding: 30px 40px 40px 40px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 10px 12px 60px 0px rgba(0, 0, 0, 0.08);
  margin-top: 30px;
}

.editar-ticket-container>h4 {
  color: #180E2C;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.editar-ticket-form label {
  color: #1B212D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
}

.editar-ticket-form label .span {
  color: #9B65E4;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.editar-ticket-form input {
  width: 100%;
  padding: 15px 12px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
}

.editar-ticket-form ::placeholder {
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.editar-ticket-form .form-group {
  margin-bottom: 20px;
}

.editar-ticket-form .form-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editar-ticket-form .button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.editar-ticket-form .button-group button {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  background: #EFE6FB;
  border: none;
}

.editar-ticket-form .button-group p {
  color: #1B212D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.editar-ticket-form .form-button select {
  padding: 15px 40px 15px 12px;

  border-radius: 6px;
  border: 1px solid #eaeaea;
  appearance: none;
  /* Hides default arrow */
  -webkit-appearance: none;
  /* For older versions of Chrome/Safari */
  -moz-appearance: none;
  /* For older versions of Firefox */

  /* Adding custom arrow */
  background-image: url("./assets/images/downarrow.svg");
  background-position: right 15px center;
  background-repeat: no-repeat;

  /* Adjust padding for the arrow */
  outline: none;

}

.editar-file-upload {
  display: inline-flex;
  align-items: center;

  cursor: pointer;
  color: #9B65E4 !important;
  font-family: Poppins;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal;
  text-transform: capitalize;

  background-color: #EFE6FB;
  ;
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
}

.editar-file-upload span {
  margin-right: 5px;
}

.editar-file-upload span {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  background: #FFF;
}

.editar-file-upload input[type="file"] {
  display: none;
}

.editar-ticket-form textarea {
  width: 100%;
  height: 201px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #EAEAEA;
  background: #FFF;
}

/* Pedidos */
.pedidos {
  margin: 30px 30px 0 30px;
}

.pedidos-header {
  background-image: url("./assets/images/compras-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 40px 37px;

}



@media (min-width: 1440px) {
  .pedidos-header {
    padding: 40px 37px;
  }
}

.pedidos-header h4 {
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.pedidos-header p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 470px;
  margin-top: 10px;
}

.compras-container {
  margin-top: 30px;
  padding: 20px 20px 25px 20px;
}

.compras-container>h4 {
  color: #180E2C;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.compras-container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.compras-container-header .search-box {
  position: relative;

}

.compras-container-header .search {
  width: 390px;
  padding: 10px;
  padding-left: 38px;

  border-radius: 100px;
  border: 1px solid #ddd;
  background: rgba(155, 101, 228, 0.1);
  display: flex;
  align-items: center;
}

.compras-container-header .search-icon {
  position: absolute;
  left: 10px;
  top: 12px;
}

.compras-container-header ::placeholder {
  color: #666;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pedidos-table table {
  width: 100%;
}

.pedidos-table table thead {
  border-radius: 5px;
  background: rgba(87, 118, 242, 0.08);
}

.pedidos-table table th,
td {
  padding: 15px 21px !important;
}

.pedidos-table table th {
  text-align: left;
  color: #666;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}